h1 The requested resource (#{requested_file}) is not available
h3 These files are available

ul
  each file in files
    li
      a(href='/' + file)
        | #{file}


//- <ul>
//-   ${[...this.files.keys()].map(file => `<li><a href="${file}">${file}</a></li>`).join('\n')}
//- </ul>